# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
node_modules*

# Build directories
dist/
build/
out/
.cache/
.next/
.yarn/

# Environment files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
ehthumbs_vista.db
